html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

#map_canvas {
    height: 100%;
    width: 100%;
    margin:0 auto;
    border-left: 2px solid green;
    border-right: 2px solid green;  }


#content {
    height: 100%;
	width: 60px;
	position: absolute;
	top: 0px;
	left: 50px;
	margin: 0 auto;
    background: rgb(0,87,1); /* old ie */
    background: rgba(0,87,1,.7);
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #0B3D01;
    border-right: 1px solid #0B3D01;
    border-left: 1px solid #0B3D01;
    z-index: 1001;
    }
    
#check {
text-align: center;
color: white;
width: 100%;
height: auto;
padding: 10px 0;
}    
    
#about {
    margin: 0 auto;
    width:800px;
    padding: 0 20px;
    bottom: 0px;
    }


#tooltip {
  position:absolute;
  width:150px;
  height:auto;
  padding:10px;
  z-index:1000;
  display:none;
  opacity: 1;
  box-shadow: 10px 10px 5px #888888;
  -moz-border-radius: 15px;
border-radius: 15px;
  background:#EBFA98;
  border-color:#D1B100!important;
  font:normal 12px Arial!important;
  color:#004A0F!important;
}

#hover home_name{
}



#hover {
position:absolute;
  width:100px;
  height:auto;
  padding:10px;
  z-index:100;
  display:none;
  box-shadow: 10px 10px 5px #888888;
  opacity: 1;
  background:#509442;
  border-color:#252525!important;
  font:normal 12px Arial!important;
  color:white;
}

#tooltip a {
color: green;
text-decoration: underline;
}

#tooltip label {
padding: 5px 0 0px 0;
font-size: 13px;
color:#006614;
  line-height: 110%;
-webkit-font-smoothing: antialiased;}

#tooltip market {font-weight:bold;
color:#00400D;
font-size: 14px;

  line-height: 100%;
padding-right: 5px;
text-align: center;
-webkit-font-smoothing: antialiased;
}




